# Data Science Tools and Ecosystem

In this Notebook, the viewer will find a summary of the **tools and ecosystem of Data Science**.

**Objectives:**
- Create a Jupyter Notebook
- Insert code and markdown cells
- Share your notebook through GitHub
- List popular laguages for Data Science

Some of the popular laguages that Data Scientists use are:
1. Pyton
2. R
3. SQL
4. Java
5. Scala

The following are included among the libraries commonly used by Data Scientists:
1. NumPy
2. Pandas
3. Matplotlib
4. Scikit-learn
5. TensorFlow

| **Data Science Tools**|
|:----------------------|
|Jupyter Notebooks      |
| RStudio               |
|  PyCharm              |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This is a simple arithmetic expression to multiply, then add integers.
(3*4)+5

17

In [2]:
# This will convert 200 mintes into hours by diving by 60.
200/60

3.3333333333333335

## Author
Salvador López de Azúa